<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.container {  
		    position:relative;  
		    display:inline-block;  
		    display:inline;  
		    zoom:1;  
		}  
		.selfAdapta {  
		    width:100%;  
		    position:absolute;  
		}  
		input,span{  
		    font-family:verdana,Arial,Helvetica,sans-serif;  
		    font-size: 12px;  
		} 
	</style>
</head>
<body>
	<div id="container" class="container">  
        <input type="text" class="selfAdapta"/>  
        <span style="visibility:hidden"></span>  
	</div>  
</body>
</html>